# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out
/build

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
.pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# Credentials (keep out secrets)
credentials/
